[submodule "pelican/plugins-core"]
	path = pelican/plugins-core
	url = https://github.com/getpelican/pelican-plugins
[submodule "pelican/plugins/plugins/ipynb"]
	path = pelican/plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
